.App {
  text-align: center;
}

.guenter {
  /* height: 40vmin; */
  max-height: 200px;
  margin-bottom: 200px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .guenter {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.cars {
  transform: scaleX(-1);
}

.car {
  margin-bottom: 0;
  font-size: 300%;
  transform: scaleX(-1);
  display: inline;
}

.car.otherCar {
  margin-right: -100px;
}

.crash {
  font-size: 400%;
  margin-right: -100px;
}

.road {
  margin-top: 0;
  line-height: 1px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
